extends layout

block content
  .container
    h1 #{title}
    p= subtitle
    a(href="/matin" class="btn btn-primary btn-lg") Invocations du matin
    a(href='/soir' class="btn btn-dark btn-lg") Invocations du soir
  
