extends layout

block content
  .ui.grid.container
    h1.four.wide.column #title
    p= subtitle
    .row
      button(class="ui secondary button four wide column")
        a(href="/matin") Invocations du matin
      button(class="ui secondary button four wide column") 
        a(href='/soir') Invocations du soir
  
