extends layout

block content
  h1= title
  p= subtitle
  div
    button(class="ui secondary button")
      a(href="/matin") Invocations du matin
    button(class="ui secondary button") 
      a(href='/soir') Invocations du soir
  
