extends layout

block content
  .container
    h1 #{title}
    h3= subtitle
    a(href="/matin" class="btn btn-primary btn-lg col-sm-6 mt-3") Invocations du matin
    a(href='/soir' class="btn btn-dark btn-lg col-sm-6 mt-3") Invocations du soir
  
