extends layout

block content
    .container
        h5
            a(href="/") Home
        h1.display-4 Invocations du matin
        .row
            .card.col-sm-12
                .card-body.col-sm
                    p(class="card-text lead") « Au nom d’Allah, tel qu’en compagnie de Son Nom rien sur Terre ni au ciel ne peut nuire, Lui l’Audient, l’Omniscient. » (3 fois)
                    p(dir='rtl' , style='text-align: justify' class="card-text lead") بِسْمِ اللهِ الَّذِي لاَ يَضُرُّ مَعَ اسْمِهِ شَيْءٌ فِي الأَرْضِ وَ لاَ فِي السَّمَاءِ وَهُوَ السَّمِيعُ العَلِيمُ. (ثَلاَثاً.)
                    p(class="card-text lead") Mérite :
                    p(class="card-text lead ") Celui qui récitera cette invocation le matin, rien ne lui nuira jusqu’au soir; quant à celui qui la récitera le soir rien ne lui nuira jusqu’au matin.