extends layout

block content
    a(href="/") Home
    h1 Invocations du matin
    .ui.grid.container
        .ui.card.column.twelve.wide
            .content
                .description
                    p « Au nom d’Allah, tel qu’en compagnie de Son Nom rien sur Terre ni au ciel ne peut nuire, Lui l’Audient, l’Omniscient. » (3 fois)
                    p(dir='rtl' , style='text-align: justify') بِسْمِ اللهِ الَّذِي لاَ يَضُرُّ مَعَ اسْمِهِ شَيْءٌ فِي الأَرْضِ وَ لاَ فِي السَّمَاءِ وَهُوَ السَّمِيعُ العَلِيمُ. (ثَلاَثاً.)
                    p Mérite :
                    p Celui qui récitera cette invocation le matin, rien ne lui nuira jusqu’au soir; quant à celui qui la récitera le soir rien ne lui nuira jusqu’au matin.